<template name="queries">
    {{# if userLoggedIn }}
    {{> submitQuery }}
    {{/ if }}
    <div class="queries">
            {{# each queries }}
            {{> queryItem }}
            {{/ each }}
    </div>
</template>

<template name="submitQuery">
    <form>
        <fieldset>
            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-12 control-label" for="yourQuery">Enter a query</label>
                <div class="col-md-12">
                    <textarea class="form-control" id="yourQuery" name="yourQuery"></textarea>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group" id="submitQueryButton">
                <div class="col-md-4">
                    <button id="submitQueryButton" name="submitQueryButton" class="btn btn-success">Submit Query</button>
                </div>
            </div>
        </fieldset>
    </form>
</template>
