body {
    width: 77%;
    margin: auto;
}

}.hero-tagline {
    font-size: 200%;
    word-wrap: normal;
}

.additional-link {
    padding:1em !important;
}
.pure-menu .pure-menu-heading {
    font-size: 200%;
    text-transform: none;
    word-wrap: normal;
}
@media (min-width: 48em) {
    body {
        width: 62%;
        margin: auto;
    }
    .hero-tagline {
        font-size: 200%;
    }
}


