body {
    width: 77%;
    margin: auto;
    background-color: #ddd;
}

p {
    font-size: 1.25em;
}

.hero-tagline {
    font-size: 150%;
    word-wrap: normal;
}

.additional-link {
    padding:1em !important;
}
.pure-menu-heading {
    font-size: 200%;
    text-transform: none !important;
}

.query {
    background-color: #fff;
    border-radius: 0.5em;
    box-sizing: border-box;
    padding: 0.5em;
    margin-bottom: 0.7em;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.query h3 {
    margin: 0;
}

.query .discuss {
    display: inline-block;
}

#spinner {
    height: 300px;
}

@media (min-width: 48em) {
    body {
        width: 62%;
        margin: auto;
    }
    .hero-tagline {
        font-size: 200%;
    }
    .pure-menu-heading {
        font-size: 200%;
        text-transform: none !important;
    }
    #submitResponseButton {
        float: right;
    }
}


