template(name="addResponse")
    form
        fieldset
            // Textarea
            .form-group
                label.col-md-12.control-label(for="addResponse") Your Response
                .col-md-12
                    textarea.form-control#yourResponse(name="yourResponse")

            // Button
            .form-group
                .col-md-4
                    button.btn.btn-success#submitResponseButton(name="submitResponse") Submit Response



