template(name="addResponse")
    form
        fieldset
            // Textarea
            .form-group
                label.col-md-12.control-label(for="addResponse") Your Response
                .col-md-12
                    textarea.form-control#yourResponse(name="yourResponse")

            // Button
            .form-group#submitResponseButton
                .col-md-4
                    button#submitResponse.btn.btn-success(name="submitResponse") Submit Response



